.intro {
  margin-top: 180px;
  &__main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__block {
    width: 30%;
    a {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 40px;
      font-weight: 700;
      font-size: 18px;
      color: #fcb124;
      text-align: center;
      border: 1px solid #fcb124;
      border-radius: 20px;
      transition: all 0.2s ease;

      &:hover {
        background: #fcb124;
        color: #1b1d1c;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 100px;
    color: #fcb124;
    text-transform: uppercase;
  }
}
