.intro {
  position: relative;
  padding-top: 200px;
  background-image: url(../../assets/images/popcorn.png);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  .carousel-wrapper {
    width: 100%;
  }

  .rec-dot {
    width: 50px;
    height: 7px;
    border-radius: 60px;
    border: none;
    background: #363636;
    box-shadow: none !important;
  }
  .rec-carousel-item {
    outline: none;
    box-shadow: none;
  }
  .rec-carousel-item:focus {
    outline: none;
    box-shadow: none;
  }
  .rec-dot_active {
    background: #fbb124;
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-top-movies {
    display: flex;
    align-items: center;
    width: 50%;
    &__item {
      cursor: pointer;
      outline: none;
      box-shadow: none;
    }
    img {
      border-radius: 45px;
      width: 270px;
      height: 430px;
    }
  }
  &__block {
    width: 30%;
    a {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 40px;
      font-weight: 700;
      font-size: 18px;
      color: #fcb124;
      text-align: center;
      border: 1px solid #fcb124;
      border-radius: 20px;
      transition: all 0.2s ease;

      &:hover {
        background: #fcb124;
        color: #1b1d1c;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 100px;
    color: #fcb124;
    text-transform: uppercase;
  }
}
