// "proxy": "http://localhost:3001/",
.movie-watch__item {
  padding-top: 30px;
  padding-bottom: 15px;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  &-about {
    margin-top: 40px;
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #e2dfdf;
    }
  }
  &-box {
    display: flex;
    align-items: center;
  }
  &-right {
    margin-left: 80px;
  }
  &-genre {
    color: #ff3b56;
    position: relative;
    padding-right: 12px;
    margin-left: 7px;
    &::after {
      content: '';
      position: absolute;
      top: 3px;
      right: 0;
      z-index: 5;
      transform: rotateZ(10deg);
      width: 3px;
      height: 25px;
      border-radius: 10px;
      background-color: #fbb023;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &-actor {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    span {
      text-align: center;
    }
    img {
      display: block;
      object-fit: fit;
      width: 100px;
      height: 130px;
      border-radius: 15px;
      margin-bottom: 10px;
    }
  }
  &-info {
    font-weight: 400;
    margin-bottom: 45px;
    font-size: 22px;
    color: #d3d3d3;
    &-actor {
      font-weight: 400;
      margin-bottom: 45px;
      font-size: 22px;
      color: #d3d3d3;
      display: flex;
    }
    span {
      color: #ff3b56;
      line-height: 25px;
      img {
        width: 70px;
        height: 90px;
      }
    }
    &--rating {
      span {
        color: #fbb023;
      }
    }
  }
  &-cast {
  }
  &-left {
    width: 35%;
  }
  &-title {
    font-weight: 700;
    font-size: 60px;
    color: #d3d3d3;
    margin-bottom: 20px;
  }
  button {
    margin-top: 30px;
    width: 200px;
    height: 50px;
  }
  &-img {
    img {
      border-radius: 45px;
      width: 300px;
      height: 450px;
    }
  }
}
