.sortby {
  margin-top: 50px;

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-right {
    width: 35%;
    .slider {
      width: 320px;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
    span {
      margin-top: 2.5px;
      width: 18px;
      height: 18px;
      font-weight: 700;
      font-size: 15px;
      color: #f7bf22;
    }
    .rangeslider.rangeslider-horizontal {
      width: 90%;
      height: 11px;
      background: #393939;
      border-radius: 15px;
      margin-right: 10px;
    }
    .rangeslider-horizontal .rangeslider__fill {
      background-color: #fbb023;
      box-shadow: none;
    }
    .rangeslider-horizontal .rangeslider__handle {
      outline: none;
      background-color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      box-shadow: none;
    }
    .rangeslider,
    .rangeslider .rangeslider__fill {
      box-shadow: none;
    }
    .rangeslider-horizontal .rangeslider__handle:after {
      display: none;
    }
  }
  &-menu {
    margin-top: 5px;
    display: flex;
    align-items: center;
    &__item {
      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 35px;
        font-weight: 700;
        font-size: 18px;
        color: #cacaca;
        margin-left: 10px;
        background: #171717;
        border-radius: 30px;
        transition: all 0.2s ease;
        &:hover,
        &.active {
          color: #fff;
          background: #ff3b57;
        }
        &:active {
          background: #c73047;
        }
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 26px;
    color: #707070;
    margin-right: 30px;
  }
  &-stars {
    display: flex;
    align-items: center;
  }
}
